* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    position: relative;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* Aumentar largura da container */
    text-align: center;
    max-height: 80vh; /* Limitar altura da caixa */
    overflow-y: auto; /* Adicionar rolagem se o conteúdo exceder a altura */
}

.navigation {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.back-btn, .confirm-btn {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.presence-btn, .absence-btn {
    background-color: #ddd;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.presence-btn {
    background-color: #4CAF50; /* Verde para presenças */
    color: white;
}

.absence-btn {
    background-color: #F44336; /* Vermelho para faltas */
    color: white;
}

.list {
    text-align: left;
    max-height: 60vh; /* Limitar a altura da lista */
    overflow-y: auto; /* Adicionar rolagem na lista se necessário */
    padding-right: 10px; /* Para que o texto não fique muito perto da borda */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mark-btn {
    padding: 5px;
    width: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-left: 5px;
}

.present {
    background-color: green; /* Verde para presença */
    color: white;
}

.absent {
    background-color: red; /* Vermelho para falta */
    color: white;
}
